Skip to content
This repository
Search
Pull requests
Issues
Gist
 @chdask
 Watch 11
  Unstar 5
 Fork 1 MagenTys/donut-maven-plugin
 Code  Issues 1  Pull requests 0  Wiki  Pulse  Graphs  Settings
Branch: master Find file Copy pathdonut-maven-plugin/.gitignore
38c6acd  on Jun 16
@chdask chdask Update pom.xml
1 contributor
RawBlameHistory     39 lines (31 sloc)  416 Bytes
*.class
*.log
*report.html

release.properties

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.settings
.classpath
.project

#Intellj
.idea
*.iml
*~
*#

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Contact GitHub API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Status Help
